<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    tools:context=".profissional">






    <TextView
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:padding="50dp"
        android:text="x"
        android:textSize="50dp"
        android:textAlignment="center"
        android:textAllCaps="true"
        />


    <TextView
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:layout_alignParentStart="true"
        android:layout_alignParentTop="true"
        android:padding="50dp"
        android:text="etanol"
        android:textAllCaps="true" />


    <TextView
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:layout_alignParentEnd="true"
        android:layout_alignParentTop="true"
        android:layout_gravity="end"
        android:padding="50dp"
        android:text="gasolina"
        android:textAlignment="viewEnd"
        android:textAllCaps="true" />


    <EditText
        android:id="@+id/gasolina"
        android:layout_width="100dp"
        android:layout_height="wrap_content"
        android:layout_alignParentEnd="true"
        android:layout_alignTop="@+id/etanol"
        android:layout_marginEnd="23dp"
        android:background="#E3F2FD"
        android:inputType="numberDecimal"
        android:text=""
        android:textColor="#00796B"
        android:textSize="30sp" />


    <EditText
        android:id="@+id/etanol"
        android:layout_width="100dp"
        android:layout_height="wrap_content"
        android:layout_alignParentStart="true"
        android:layout_alignParentTop="true"
        android:layout_marginStart="24dp"
        android:layout_marginTop="68dp"
        android:background="#E3F2FD"
        android:inputType="numberDecimal"
        android:text=""
        android:textColor="#00796B"
        android:textSize="30sp" />

    <Button
        android:id="@+id/resultado"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:layout_alignParentTop="true"
        android:layout_centerHorizontal="true"
        android:layout_marginTop="156dp"
        android:text="Resultado"

        android:onClick="submitresultado"
        />


    <TextView
        android:id="@+id/res"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:layout_alignParentBottom="true"
        android:textColor="#00796B"
        android:layout_alignParentStart="true"
        android:layout_marginBottom="176dp"
        android:padding="50dp"
        android:text="resposta: "
        android:textAlignment="viewEnd"
        android:textAllCaps="true" />







</RelativeLayout>
